.home{
    width: 100%;
    padding: 0 25%;
    background-color: #F1F2F6;
}
div.card-header-clear-style {
        background-color: white;
        border-bottom: 1px solid white;
}
div.card-footer-clear-style{
        background-color: white;
        border-top: 1px solid white;
}

.image-post {
    width: 60px;
    border-radius: 100%;
    display: inline-block;
    object-position: center;
    height: 60px;
}
.card-header-title-post{
    display: inline-block;
}
.card-header-title-post h1{
    font-size: 18px;
}
.card-header-title-post h2{
    font-size: 12px;
    color: #6c757d !important;
}
.card-footer-action-icon{
    width: 30%;
    margin-left: 70%
}
.footer-action-icon{
font-size: 24px;
margin: 0px 10%;
}

.post-setting{
        position: absolute;
        text-align: right;
        right: 15px;
        color: #6c757d !important;
}
.navigasi-top{
        height: 70px;
        border-collapse: collapse;
        padding: 15px 25%;
        margin: 0 auto;
        top: 0;
        position: sticky;
        width: 100%;
        background-color: white;
        z-index: 99;
}
.navigasi-top-body{
    display: flex;
}
.navigasi-top-left{
    flex-grow: 1;
}
.navigasi-top-right{
    flex-grow: 1;
    text-align: right;
}
.image-profil{
      width: 40px;
      border-radius: 100%;
      display: inline-block;
      object-position: center;
      height: 40px;
}
.image-brand{
      width: 50px;
      border-radius: 100%;
      display: inline-block;
      object-position: center;
      height: 50px;
}
.navbar-notify{
    font-size: 30px;
    margin-right: 20px;    
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* profile */
.profile{
     background-color: #F1F2F6;
}
.profil-card{
    border: 0 solid #F1F2F6;
}
.profil-image{
     width: 160px;
     border-radius: 100%;
     display: inline-block;
     object-position: center;
     height: 160px;
     margin-right: 25px;
}
.profil-text{
    display: inline-block;
}
.profil-text h1{
    display: inline-block;
    color: #203758;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.profil-text button{
    border: 0 solid #F1F2F6;
    background-color: #F1F2F6;
    margin: 0 25px;
    color: #F36E39;
}
.profil-exit{
    display: inline-block;
    color: #6c757d !important;
}
.profil-follower {
    display: block;
    margin-bottom: 6px;
    margin-top: 6px;
    color: #203758;
    font-size: 15px;
    font-weight: 500;
}

.profil-follower span:nth-child(2){
    margin: 0 25px;
}
.post-arrow-up{
    float: right;
    color: #6c757d !important;
}